:root {
    /* Color palette */
    --text: #ffffff;
    --grad1: #000;
    /* --grad2: rgb(157,78,221); */
    --grad2: #9d4edd;
    --grad3: #7B2CBF;
    --grad4: #5A189A;
}

body {
    background-color: var(--grad2);
    color: var(--text);
}

h1 {
    text-align: center;
    padding: 1rem;
    text-shadow: 20px 10px 10px var(--grad4);
}

#links {
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin: auto;
    padding: 1rem 0;
    background-color: var(--grad3);
    box-shadow: 40px 10px 10px var(--grad4);
}

#links a{
    list-style-type: none;
    background-color: var(--grad1);
    margin: .5rem auto;
    padding: 1rem;
    width: 80vw;
    transition:all .2s;
}

#links a:hover{
    background-color: var(--grad2);
}

#links a {
    color: var(--text);
    text-decoration: none;
}