:root {
    /* Color palette */
    --text: #ffffff;
    --grad1: #E0AAFF;
    /* --grad2: rgb(157,78,221); */
    --grad2: #9d4edd;
    --grad3: #7B2CBF;
    --grad4: #5A189A;
}

body {
    background-color: var(--grad2);
    color: var(--text);
}

h1 {
    text-align: center;
    padding: 1rem;
}

#links {
    width: 85vw;
    background-color: var(--grad4);
    padding: .5rem 0.5rem;
    margin: auto;
}

#links ol {
    background-color: var(--grad3);
    padding: .25rem 0.5rem;
}

#links ol li{
    list-style-type: none;
    background-color: var(--grad1);
    margin: 1rem 0;
    padding: 1rem;
}

#links a {
    color: var(--text);
    text-decoration: none;
}