*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding-left: 25px;
    height: 10vh;
    line-height: 10vh;
    color: rgb(176, 0, 164);
    background-color: #1f1b1b;
    box-shadow: inset 0px -5px 30px rgb(102, 17, 96);
}

header a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}